<!-- <td>1. Spate</td><td>2. Bust</td>
        <td>3. Talie</td><td>4. Solduri</td>
        <td>5. Pantalon interior</td><td>6. Pantalon exterior</td>
        <td>7. Lungime sacou</td><td>8. Lungime maneca</td> -->
<table class="table table-bordered">
    <thead>
    <tr>
        <td>M</td>
        <td>1</td><td>2</td>
        <td>3</td><td>4</td>
        <td>5</td><td>6</td>
        <td>7</td><td>8</td>
    </tr>
    </thead>
    <tbody>
{{#measures}}
<tr>
    <td><a id="{{size}}" name="measure">{{size}}</a></td>
    <td>{{shoulders}}</td><td>{{chest}}</td>
    <td>{{waist}}</td><td>{{hips}}</td>
    <td>{{inside_leg}}</td><td>{{external_leg}}</td>
    <td>{{coat_length}}</td><td>{{sleeve}}</td>
</tr>
{{/measures}}
    </tbody>
</table>