{% extends 'base.html' %}
{% block meta_keywords %}{% endblock %}
{% block title %}{% endblock %}
{% block main %}
<div class="row">
            <div class="box" id="content">

            </div>
</div>
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/ractive/ractive.js') }}"></script>
    <script src="{{ url_for('static', filename='js/products/products-render.js') }}"></script>
    <script>
        ProductsRender.renderContent("/api/products", "{{ url_for('static', filename='templates/products/_productList.tmpl.html') }}",
                '#content');

    </script>
{% endblock %}