{% extends 'base.html' %}
{% block title %}Marios ProdConf - Costume Barbatesti{% endblock %}
{% block main %}
<div class="row">
            <div class="box" id="content">
                <div class="col-sm-4">
                    <canvas id="canvas" width="331" height="504">
                    </canvas>
                    <img src="{{ url_for('static', filename='img/measures/suit.png') }}" id="suit" style="display: none;"/>

                </div>
                <div class="col-lg-8">
                    <h2>Tabel masuri</h2>
                    <a id="42" name="measure">42</a><a id="44" name="measure">44</a>
                </div>
            </div>
</div>
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/graphics/paper-full.js') }}"></script>
    <script type="text/paperscript" canvas="canvas" src="{{ url_for('static', filename='js/graphics/measures-guide.js') }}"></script>
{% endblock %}