{% extends 'base.html' %}
{% block meta_keywords %}{% endblock %}
{% block title %}{% endblock %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-magnify.css') }}">
{% endblock %}
{% block main %}
<div class="row">
            <div class="box" id="content">

            </div>
</div>

{% endblock %}
{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/ractive/ractive.js') }}"></script>
    <script src="{{ url_for('static', filename='js/products/products-render.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-magnify.js') }}"></script>
    <script>
        (new ProductsRender("/api/textures", "{{ url_for('static', filename='templates/products/_texturesList.tmpl.html') }}")).renderItems();

    </script>

{% endblock %}